*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #FDF6F0;
}
h1,h2{
    color: #753422;
    margin: 10px;
}
section{
    /* padding: 10px; */
    font-size: 1.8rem;
    margin: 2vw;
}
header{
    display: flex;
    font-size: 1.8rem;
}
#profile img{
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
}
#profileinfo{
    margin: 20px;
}
table{
    width: auto;
}
td,th{
    padding: 10px;
}
@media (max-width: 988px){
    html{
        font-size: 55%;
    }
}
@media (max-width:688px ){
    html{
        font-size: 45%;
    }
}
@media (max-width:393px ){
    html{
        font-size: 30%;
    }
}